<div class="notification_item" (click)="RootTo()" >
  <mat-card class="example-card" [ngStyle]="{'background-color':this.constance.cardview_background,'color':this.constance.cardview_textcolor}" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url('+photo+')'}" ></div>
      <mat-card-subtitle [ngStyle]="{'color':this.constance.cardview_textcolor}">{{prenom}} {{nom}}</mat-card-subtitle>
      <mat-card-subtitle [ngStyle]="{'color':this.constance.cardview_textcolor}">{{updated}}</mat-card-subtitle>
      <mat-card-subtitle [ngStyle]="{'color':this.constance.cardview_textcolor}">{{libelle}}</mat-card-subtitle>
      <div><mat-icon [ngStyle]="{'color': '#64DD17'}" matTooltip="mention lu">{{hide_done_icon ? 'done_all' : 'done'}}</mat-icon></div>
    </mat-card-header>
  </mat-card>
</div><br/>
