<mat-progress-bar mode="indeterminate" [ngStyle]="{'display':''+disparaitreprogressbar+''}"></mat-progress-bar>
<div  class="icon-block" [ngStyle]="{'display':''+disparaitreblock+''}">

  <!--div class="boss-image-premier"></div-->
    <div  class="icon-base" [ngStyle]="{'display':''+notreimage+''}">

      <img matRipple id="icon" [src]="imageSrc" />

      <button matTooltip="Changer votre photo de profil" mat-icon-button (click)="onpenFileBrowser($event)" [ngStyle]="{'display':''+notreimage+''}">
        <mat-icon color="primary">camera_alt</mat-icon>
      </button>

  </div>
  <!-- debut rogneur d'image -->
  <div class="boss-regis" [ngStyle]="{'display':''+blockcroping+''}">




        <div *ngIf="cropping.isLoaded">
          <button (click)="cropping.zoomIn()" mat-icon-button> <mat-icon>zoom_in</mat-icon> </button>
          <button (click)="cropping.zoomOut()" mat-icon-button ><mat-icon>zoom_out</mat-icon></button>
          <button (click)="cropping.rotate(90)" mat-icon-button><mat-icon>crop_rotate</mat-icon></button>
          <button (click)="onpenFileBrowser($event)" mat-icon-button><mat-icon>add_a_photo</mat-icon></button>
        </div>

        <ly-cropping #cropping
                     [withClass]="classes.cropping"
                     [config]="myConfig"
                     [(scale)]="scale"
                     (cropped)="onCrop($event)">
        </ly-cropping>


        <div *ngIf="cropping.isLoaded" [className]="classes.range">
          <input type="range" [className]="classes.rangeInput" [attr.min]="cropping.minScale" max="1" [(ngModel)]="scale" step="any">
        </div>

        <div>
          <button *ngIf="cropping.isLoaded" mat-icon-button  (click)="cropping.crop()"> <mat-icon>crop</mat-icon></button>
        </div>

  </div>



  <!--fin du rogneur d'images-->

  <form [formGroup]="addphotoform">
    <input #fileInput id="tenantPhotoId" type="file" (change)="cropping.selectInputEvent($event)" formControlName="tenantPhotoId" accept="image/*" hidden>
  </form>
</div>





